 {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<link rel="stylesheet" href="{%static 'abhinav/style1.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Rubik+Gemstones&family=Ubuntu:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alice&display=swap" rel="stylesheet">

</head>
<body>
    <h1> ABHINAV DUBEY</h1>
    <h4 class="gf"> Welcome to Registration Page !</h4>
      

      <div class="container">

      
      <p> NEW USER : </p>
      <button class="btn" type="submit"> <a href="/signup"> Sign Up </a> </button>
      <br>
      <h4> Already Registerd Login ?</h4>

      <style>
        .btn1{
               color: white;
        }
      </style>
      <button class="btn1" type="submit" >  <a href="/signin">Sign In </a></button>
    </div>
</body>
</html>

